<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="/">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="app/Site.css" />
    <link rel="stylesheet" href="app/movieDetail/movieDetail.css" />
</head>
<body ng-controller="Main as vm">

 

    <div style="margin-bottom:30px">
        Type Movie ID<input type="text" ng-model="vm.movieID" placeholder="movie id" />
        <button class="btn-default" ng-click="vm.go()">Search</button>
    </div>
    <div ng-view ></div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//code.angularjs.org/1.5.8/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src="app/Main.js"></script>
    <script src="app/movieDetail/movieDetailService.js"></script>
    <script src="app/movieDetail/movieDetailController.js"></script>
   
</body>
</html>
