<div class="row">
        <div class="col-sm-8">
            <img class="gallery-image fade-animation img-rounded" ng-src="{{'http://image.tmdb.org/t/p/w600/'+vm.Movie.backdrop_path}}" />
        </div>

        <div class="col-sm-4 overview">
            <div class="row MovieTitle">
                {{vm.Movie.title}} ({{vm.Movie.release_date.slice(0,4)}})
                <br />
                <div class="headlines">
                    Director: <span class="dirgen">{{vm.Crew[0].name}}</span><br />
                    Genres: <span class="dirgen" ng-repeat="genre in vm.Movie.genres">
                        [{{genre.name}}]
                    </span>
                </div>
            </div>
            <span class="overviewHeadline">
                Overview
            </span>
            {{vm.Movie.overview}}
        </div>
    </div>
    <div class="row personList">

        <div ng-repeat="person in vm.topCast">
            <div class="col-sm-2">
                <img class="img-rounded personPicture" ng-src="{{'http://image.tmdb.org/t/p/w300/'+person.profile_path}}" /><br />
                <span class="personName"> {{person.name}}</span><br />
                <span>{{person.character}}</span>
            </div>
        </div>

    </div>

    <button type="button" class="collapseButton btn btn-default" data-toggle="collapse" data-target="#moreCast" ng-click="vm.checkCollapsed()">
    <span class="glyphicon" ng-class="{'glyphicon-chevron-up' : vm.collapsed, 'glyphicon-chevron-down' : !vm.collapsed}"></span>
</button>

    <div id="moreCast" class="row personList collapse">
        <div ng-repeat="person in vm.RestCast">
            <div class="col-sm-2">
                <img class="img-rounded personPicture" ng-src="{{'http://image.tmdb.org/t/p/w300/'+person.profile_path}}" /><br />
                <span class="personName"> {{person.name}}</span><br />
                <span>{{person.character}}</span>
            </div>
        </div>
    </div>